.chartDropdown {
    button {
        background-color: #313a46;
        color: #8391a2;
        border: none;
      
    }
   
    padding-top:10px;
    
    
}

.chartStyle {
    margin-left: 0px;
    margin-top: 2rem;
}